coverage/*
dev_browser/*
dist/*
documentation/*
node_modules/*
plato/*
routes/*
test/*
jsdoc_plugin/*
app.js
gulp.config.js
gulpfile.js
observations.js
playground.js
wallaby.js
wallaby.new.js
wallaby.test.js
jsdoc.conf.json